.card_holder{
    width: 342px;
    background-color: white;
    position: relative;
    margin-top: 10px;
    webkit-box-shadow: 2px 2px 8px 2px rgba(204, 204, 204, 1);
    box-shadow: 2px 2px 8px 2px rgba(204, 204, 204, 1);
    position: relative;
    margin-left: 20px;
    display: inline-block;
}

.title_holder {
    padding: 0 35px;
    text-align: center;
}

.remove_icon{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: auto;
}

.actores {
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    display: inline-grid;
    margin: 0;
    background: white;
}

.container_list{
    width: 312px;
    height: 410px;
    overflow-y: auto;
    background-color: white;
    padding: 0 15px;
}

#empty{
    width: 450px;
    text-align: center;
    font-size: 27px;
    margin: 50px auto auto;
}

.title {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 35px 0 15px;
    display: inline-block;
}

.id_value {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    background-color: #eeeded;
    padding: 5px;
    border-radius: 10px;
}

